@page
@model RazorPagesMovie1.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Director</th>
            <th>Actor</th>
        </tr>
    </thead>
    <tbody>
@foreach (var movie in Model.Movies)
{
    <tr>
        <td>@movie.Title</td>
        <td>@movie.Genre</td>
        <td>@movie.ReleaseDate.ToString("yyyy-MM-dd")</td>
        <td>@movie.Price.ToString("C")</td>
        <td>@movie.Rating</td>
        <td>@movie.Director?.Name</td>
        <td>@movie.Actor?.FirstName @movie.Actor?.LastName</td>
    </tr>
}
    </tbody>
</table>
