@page
@model RazorPagesMovie1.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.ShowTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.ShowTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.NumberOfTickets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.NumberOfTickets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TotalPrice)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
