@page
@model RazorPagesMovie1.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.ShowTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.ShowTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.NumberOfTickets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.NumberOfTickets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
