@page
@model RazorPagesMovie1.Pages.Bookings.IndexModel
@using System.Globalization


@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-page="./Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].ShowTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].NumberOfTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @item.BookingDate.ToString("d")

                </td>
                <td>
                    @item.ShowTime.ToString("h:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTickets)
                </td>
                <td>
                    @item.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-ZA"))
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
